body
{
background-color:#000000;
height:100vh;
display: flex;  /* Make the body element a flex container */
align-items: center;  /* Center the content vertically */
justify-content: center;  /* Center the content horizontally */
}

p,h1,h2,h3,li,td,div
{ 
font-family: helvetica, sans-serif;
color:#000000;
font-size: medium; 
}

.center-card
{
max-width:800;
min-width: 300px;
padding: 20px;
border-radius: 10px;
background-color: #ddd;
}

form{
width: 100%;
}

label{
display:block;
}

input{
display:block;
box-sizing: border-box;
width: 100%;
}

button{
display: block;
width:100%;
}