body
{
background-color:#ffffff;
/* max-width:800; */
height:100vh;
display: flex;  /* Make the body element a flex container */
align-items: center;  /* Center the content vertically */
justify-content: center;  /* Center the content horizontally */
}

p,h1,h2,h3,li,td,div
{ 
font-family: helvetica, sans-serif;
color:#000000;
font-size: medium; 
}